## One-way ANOVA Testing for Time Completion on Task 1 (Urgent Task)

In [1]:
import pandas as pd
from scipy.stats import f_oneway

In [3]:
sample_df_orig = pd.read_csv("data1.csv")

def extract_numerical(value):
    return float(value.split()[0])
    
sample_df = sample_df_orig.apply(lambda x: x.map(extract_numerical))

sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DLTask1  42 non-null     float64
 1   DCTask1  42 non-null     float64
 2   RLTask1  42 non-null     float64
 3   RCTask1  42 non-null     float64
 4   CTask1   42 non-null     float64
dtypes: float64(5)
memory usage: 1.8 KB

In [4]:
print(sample_df)

     DLTask1   DCTask1  RLTask1  RCTask1   CTask1
0     4585.0    9220.0   1481.0   6057.0   6829.0
1     1247.0    9587.0   4507.0   7369.0  18039.0
2   112068.0    4566.0   4184.0   5554.0   3156.0
3     6991.0   18855.0   4483.0   5954.0   5923.0
4     8818.0   24423.0   4818.0  12067.0  11761.0
5    14566.0    6751.0   1830.0  12981.0  15037.0
6    22405.0  195647.0   5024.0   4783.0  13268.0
7    13782.0    8398.0   3128.0   5227.0   2326.0
8     2241.0    5256.0   9960.0   6453.0   3642.0
9   159866.0   34348.0  12233.0  10260.0   8386.0
10   64355.0   32844.0   4830.0  11648.0   5572.0
11   12813.0    3599.0   2853.0   7591.0   3839.0
12    3279.0    7591.0   4308.0   3648.0   6375.0
13   11064.0   14553.0   7052.0  14012.0  11616.0
14    5316.0    5957.0   6741.0  10426.0  14824.0
15   10351.0   16871.0   4334.0  16143.0  15174.0
16    7204.0    4787.0   6250.0  10700.0   6339.0
17  201185.0   36243.0   6827.0   7735.0   6161.0
18   51583.0   92190.0  21895.0  15148.0   9107.0
19    4916.0   16078.0   5712.0  15941.0   8038.0
20    5955.0    1357.0   6238.0   4125.0   3877.0
21   24502.0   14594.0   2995.0   2787.0   4591.0
22   21321.0    6558.0   2884.0   1823.0   3941.0
23   22333.0    6772.0   1372.0   2634.0   1800.0
24   16150.0   11142.0   3909.0   2510.0   4167.0
25   57508.0    9015.0   3360.0   6401.0   2432.0
26    2344.0    3202.0  16097.0   4111.0   1578.0
27   43376.0    7312.0   5862.0   7490.0   3389.0
28   22476.0   14288.0   1981.0  54599.0    760.0
29    9655.0    6195.0   5461.0   2843.0   4971.0
30   43211.0   12598.0  13122.0   2600.0   2250.0
31   23136.0   25972.0   8358.0   3739.0   2699.0
32   16311.0    5424.0   1631.0   1936.0   2286.0
33   17783.0    6743.0   1878.0   7039.0   3246.0
34    8184.0    7591.0   6797.0   3984.0   4670.0
35   20103.0   14284.0   6125.0   2758.0   8370.0
36   41957.0    8911.0   2123.0   2152.0   6736.0
37   20655.0    9452.0   2904.0   6093.0   6750.0
38   34715.0    6686.0   2164.0   2110.0   2914.0
39   25801.0   42497.0   8453.0   5619.0   5353.0
40   10581.0    5756.0   2001.0   3779.0   5343.0
41    9787.0    9787.0   1297.0   2542.0   2047.0

In [5]:
#Get the mean first


means = sample_df.mean()

print("Mean of each column:")
print(means)

Mean of each column:
DLTask1    28963.785714
DCTask1    18664.285714
RLTask1     5463.380952
RCTask1     7699.309524
CTask1      6180.523810
dtype: float64

In [6]:
#Get significant difference using One-way ANOVA
df = sample_df
f_statistic, p_value = f_oneway(df['DLTask1'], df['DCTask1'], df['RLTask1'], df['RCTask1'], df['CTask1'])

# Print results
print("F-Statistic:", f_statistic)
print("P-value:", p_value)

F-Statistic: 7.917095000695259
P-value: 5.9315659027920345e-06

In [20]:
if p_value < 0.05:
    print("There is a significant difference in the time users take to complete the task of clicking the most urgent to-do task across different layouts of the Canvas Dashboard.")
else:
    print("There is a significant difference in the time users take to complete the task of clicking the most urgent to-do task across different layouts of the Canvas Dashboard.")

There is a significant difference in the time users take to complete the task of clicking the most urgent to-do task across different layouts of the Canvas Dashboard.

## One-way ANOVA Testing for Time Completion on Task 2 (Announcement Task)

In [9]:
import pandas as pd
from scipy.stats import f_oneway

In [10]:
sample_df_orig = pd.read_csv("data2.csv")

def extract_numerical(value):
    return float(value.split()[0])
    
sample_df = sample_df_orig.apply(lambda x: x.map(extract_numerical))

sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DLTask3  42 non-null     float64
 1   DCTask3  42 non-null     float64
 2   RLTask3  42 non-null     float64
 3   RCTask3  42 non-null     float64
 4   CTask3   42 non-null     float64
dtypes: float64(5)
memory usage: 1.8 KB

In [11]:
print(sample_df)

    DLTask3  DCTask3  RLTask3  RCTask3   CTask3
0   16897.0   6042.0   2472.0   8576.0   7511.0
1   58861.0  20932.0   2237.0  12174.0   8445.0
2   56264.0   5610.0  15891.0   2766.0    763.0
3   13081.0  14064.0   4724.0  21063.0   3030.0
4   15987.0   7674.0   6112.0  16130.0   7379.0
5   11029.0   9789.0   3916.0   4979.0   3233.0
6   25834.0   5111.0   4129.0   9485.0  10297.0
7   11393.0  11310.0   1628.0   7878.0   1462.0
8   15899.0  11043.0   8319.0  15561.0   4640.0
9   42390.0   9286.0  21264.0  27040.0   2434.0
10  59390.0  17170.0   2427.0   6136.0   5273.0
11   9871.0   9159.0   2741.0  11472.0   1927.0
12  15961.0   3928.0   2079.0   9496.0   4135.0
13  12924.0  20639.0   7328.0  34083.0   6829.0
14  13257.0   7595.0   3993.0  10354.0   8500.0
15  15697.0  16963.0   5826.0   9860.0   1255.0
16  23274.0   8105.0   2644.0  10250.0   4515.0
17   8884.0   3807.0   2194.0   7448.0   6518.0
18  86041.0  12734.0   8091.0  17348.0   7104.0
19  11572.0   4065.0   7213.0  10479.0   3933.0
20  11421.0   7394.0   1312.0   5919.0    778.0
21  11509.0   5062.0   1931.0   3608.0   3003.0
22  13978.0   3796.0   1795.0   4194.0   1496.0
23   7435.0   6924.0   1059.0   3311.0   1103.0
24   9409.0   6689.0   2860.0   7634.0   2046.0
25   5706.0   4948.0   1497.0   4057.0   2623.0
26  21500.0   8305.0   3401.0   7488.0   3739.0
27  62146.0   4397.0   2082.0   2175.0   2174.0
28  10472.0   4694.0   1483.0   3686.0   2764.0
29   5692.0   4700.0   4153.0   5822.0   2511.0
30   8917.0   9216.0   2390.0   4464.0   1680.0
31  15539.0  15322.0   2384.0   3778.0  18140.0
32   4553.0   2679.0    878.0   1813.0   1207.0
33   5767.0   4791.0   3207.0   3487.0   1200.0
34   7745.0  15649.0  13292.0  11163.0  23749.0
35  10899.0  10064.0   9758.0   2196.0   5242.0
36  13263.0   6449.0   2320.0   3471.0   1541.0
37   9115.0   8105.0   2270.0   7984.0   1723.0
38   5716.0   4206.0   1629.0   1141.0   1915.0
39  50373.0  37695.0   5333.0   7672.0   5094.0
40  14302.0   5004.0   4142.0   3486.0   3340.0
41  10493.0   9405.0    998.0   2369.0   1455.0

In [12]:
#Get the mean first


means = sample_df.mean()

print("Mean of each column:")
print(means)

Mean of each column:
DLTask3    20010.857143
DCTask3     9298.095238
RLTask3     4414.333333
RCTask3     8416.571429
CTask3      4469.190476
dtype: float64

In [13]:
#Get significant difference using One-way ANOVA
df = sample_df
f_statistic, p_value = f_oneway(df['DLTask3'], df['DCTask3'], df['RLTask3'], df['RCTask3'], df['CTask3'])

# Print results
print("F-Statistic:", f_statistic)
print("P-value:", p_value)

F-Statistic: 17.442879708577834
P-value: 2.465890933317309e-12

In [21]:
if p_value < 0.05:
    print("There is a significant difference in the time users take to complete the task of clicking the most recent unread announcement across different layouts of the Canvas Dashboard.")
else:
    print("There is no significant difference in the time users take to complete the task of clicking the most recent unread announcement across different layouts of the Canvas Dashboard.")

There is a significant difference in the time users take to complete the task of clicking the most recent unread announcement across different layouts of the Canvas Dashboard.

## One-way ANOVA Testing for Idenitifaction Accuracy on Task 1 (Urgent Task)

In [15]:
sample_df_orig = pd.read_csv("data3.csv")

def extract_numerical(value):
    return float(value.split()[0])
    
sample_df = sample_df_orig

sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DLTask1  42 non-null     float64
 1   DCTask1  42 non-null     float64
 2   RLTask1  42 non-null     float64
 3   RCTask1  42 non-null     float64
 4   CTask1   42 non-null     float64
dtypes: float64(5)
memory usage: 1.8 KB

In [16]:
print(sample_df)

     DLTask1   DCTask1   RLTask1   RCTask1    CTask1
0   0.500000  0.500000  1.000000  1.000000  1.000000
1   0.071429  0.333333  1.000000  1.000000  1.000000
2   1.000000  0.500000  1.000000  0.333333  1.000000
3   0.250000  0.500000  1.000000  1.000000  1.000000
4   0.100000  1.000000  1.000000  1.000000  1.000000
5   0.500000  1.000000  1.000000  1.000000  1.000000
6   1.000000  1.000000  1.000000  1.000000  1.000000
7   0.333333  0.200000  1.000000  1.000000  1.000000
8   1.000000  0.500000  1.000000  1.000000  1.000000
9   0.142857  1.000000  1.000000  1.000000  1.000000
10  1.000000  1.000000  1.000000  1.000000  1.000000
11  1.000000  1.000000  0.333333  1.000000  1.000000
12  0.250000  0.250000  1.000000  1.000000  0.500000
13  0.111111  0.500000  1.000000  1.000000  1.000000
14  0.200000  0.500000  1.000000  0.200000  1.000000
15  0.142857  0.250000  0.500000  0.027778  1.000000
16  1.000000  0.500000  0.250000  0.500000  1.000000
17  0.333333  0.333333  0.500000  1.000000  1.000000
18  0.012987  0.066667  0.333333  1.000000  1.000000
19  0.014706  0.250000  0.333333  1.000000  1.000000
20  0.047619  0.058824  0.500000  0.500000  0.500000
21  0.200000  0.142857  0.250000  1.000000  1.000000
22  1.000000  1.000000  1.000000  1.000000  1.000000
23  0.500000  1.000000  1.000000  1.000000  1.000000
24  1.000000  0.500000  1.000000  1.000000  1.000000
25  0.111111  0.500000  1.000000  0.250000  1.000000
26  1.000000  1.000000  1.000000  1.000000  1.000000
27  1.000000  1.000000  0.500000  1.000000  1.000000
28  0.125000  0.500000  1.000000  1.000000  1.000000
29  0.071429  0.250000  1.000000  1.000000  1.000000
30  1.000000  1.000000  1.000000  1.000000  1.000000
31  0.250000  1.000000  1.000000  1.000000  1.000000
32  1.000000  1.000000  1.000000  1.000000  1.000000
33  1.000000  1.000000  1.000000  0.500000  1.000000
34  0.034483  0.071429  0.500000  1.000000  0.500000
35  0.083333  0.500000  1.000000  1.000000  1.000000
36  0.071429  0.055556  1.000000  0.333333  1.000000
37  0.200000  0.500000  1.000000  1.000000  1.000000
38  1.000000  1.000000  1.000000  1.000000  1.000000
39  0.333333  1.000000  1.000000  1.000000  0.333333
40  1.000000  1.000000  1.000000  1.000000  1.000000
41  0.333333  1.000000  1.000000  1.000000  1.000000

In [17]:
#Get the mean first


means = sample_df.mean()

print("Mean of each column:")
print(means)

Mean of each column:
DLTask1    0.483897
DCTask1    0.625286
RLTask1    0.857143
RCTask1    0.872487
CTask1     0.948413
dtype: float64

In [18]:
#Get significant difference using One-way ANOVA
df = sample_df
f_statistic, p_value = f_oneway(df['DLTask1'], df['DCTask1'], df['RLTask1'], df['RCTask1'], df['CTask1'])

# Print results
print("F-Statistic:", f_statistic)
print("P-value:", p_value)

F-Statistic: 17.258661732706678
P-value: 3.222526390638752e-12

In [22]:
if p_value < 0.05:
    print("There is a significant difference in the identification accuracy when completing the task of clicking the most urgent to-do task across different layouts of the Canvas Dashboard.")
else:
    print("There is no significant difference in the identification accuracy when completing the task of clicking the most urgent to-do task across different layouts of the Canvas Dashboard.")

There is a significant difference in the identification accuracy when completing the task of clicking the most urgent to-do task across different layouts of the Canvas Dashboard.

## One-way ANOVA Testing for Idenitifaction Accuracy on Task 2 (Announcement Task)

In [25]:
sample_df_orig = pd.read_csv("data4.csv")

def extract_numerical(value):
    return float(value.split()[0])
    
sample_df = sample_df_orig

sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DLTask2  42 non-null     float64
 1   DCTask2  42 non-null     float64
 2   RLTask2  42 non-null     float64
 3   RCTask2  42 non-null     float64
 4   CTask2   42 non-null     float64
dtypes: float64(5)
memory usage: 1.8 KB

In [26]:
print(sample_df)

     DLTask2   DCTask2   RLTask2   RCTask2    CTask2
0   0.250000  0.250000  1.000000  0.500000  1.000000
1   0.142857  0.500000  1.000000  1.000000  1.000000
2   0.055556  0.071429  1.000000  0.250000  1.000000
3   0.333333  1.000000  1.000000  0.500000  1.000000
4   0.125000  0.500000  0.500000  1.000000  1.000000
5   1.000000  1.000000  1.000000  1.000000  1.000000
6   0.250000  1.000000  1.000000  0.100000  1.000000
7   1.000000  1.000000  1.000000  0.333333  1.000000
8   0.500000  1.000000  1.000000  1.000000  1.000000
9   1.000000  1.000000  1.000000  1.000000  1.000000
10  0.500000  0.166667  1.000000  0.500000  1.000000
11  1.000000  0.500000  1.000000  1.000000  1.000000
12  0.076923  0.500000  1.000000  1.000000  1.000000
13  0.035714  1.000000  1.000000  1.000000  1.000000
14  0.111111  0.166667  1.000000  0.142857  1.000000
15  1.000000  0.250000  1.000000  1.000000  0.500000
16  0.111111  0.250000  0.250000  0.100000  1.000000
17  0.333333  0.500000  1.000000  0.200000  1.000000
18  0.037037  0.200000  0.200000  0.100000  1.000000
19  0.142857  0.333333  1.000000  1.000000  1.000000
20  0.045455  0.333333  1.000000  0.250000  1.000000
21  1.000000  0.500000  1.000000  1.000000  0.333333
22  1.000000  1.000000  1.000000  0.500000  1.000000
23  1.000000  1.000000  1.000000  1.000000  1.000000
24  0.058824  0.500000  1.000000  1.000000  1.000000
25  1.000000  1.000000  1.000000  1.000000  1.000000
26  0.333333  0.166667  1.000000  0.111111  1.000000
27  1.000000  0.250000  0.500000  0.500000  0.333333
28  0.333333  0.500000  1.000000  1.000000  0.333333
29  0.333333  1.000000  1.000000  1.000000  0.500000
30  0.500000  0.500000  1.000000  0.500000  1.000000
31  0.333333  1.000000  1.000000  1.000000  1.000000
32  1.000000  1.000000  1.000000  1.000000  1.000000
33  1.000000  1.000000  1.000000  1.000000  1.000000
34  1.000000  1.000000  1.000000  0.333333  1.000000
35  1.000000  1.000000  1.000000  1.000000  1.000000
36  0.333333  1.000000  1.000000  1.000000  1.000000
37  0.142857  0.250000  1.000000  0.500000  1.000000
38  0.200000  1.000000  0.333333  1.000000  1.000000
39  0.333333  1.000000  1.000000  1.000000  1.000000
40  0.200000  0.500000  1.000000  0.250000  1.000000
41  1.000000  0.500000  1.000000  1.000000  1.000000

In [27]:
#Get the mean first


means = sample_df.mean()

print("Mean of each column:")
print(means)

Mean of each column:
DLTask2    0.503618
DCTask2    0.647336
RLTask2    0.923413
RCTask2    0.706444
CTask2     0.928571
dtype: float64

In [28]:
#Get significant difference using One-way ANOVA
df = sample_df
f_statistic, p_value = f_oneway(df['DLTask2'], df['DCTask2'], df['RLTask2'], df['RCTask2'], df['CTask2'])

# Print results
print("F-Statistic:", f_statistic)
print("P-value:", p_value)

F-Statistic: 14.544778236868032
P-value: 1.7905875882147234e-10

In [29]:
if p_value < 0.05:
    print("There is a significant difference in the identification accuracy when completing the task of clicking the most recent unread announcement across different layouts of the Canvas Dashboard.")
else:
    print("There is no significant difference in the identification accuracy when completing the task of clicking the most recent unread announcement across different layouts of the Canvas Dashboard.")

There is a significant difference in the identification accuracy when completing the task of clicking the most recent unread announcement across different layouts of the Canvas Dashboard.