In [1]:
import pandas as pd
from scipy.stats import f_oneway

In [2]:
sample_df_orig = pd.read_csv("sample3.csv")

def extract_numerical(value):
    return float(value.split()[0])
    
sample_df = sample_df_orig.apply(lambda x: x.map(extract_numerical))

sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DLTask3  22 non-null     float64
 1   DCTask3  22 non-null     float64
 2   RLTask3  22 non-null     float64
 3   RCTask3  22 non-null     float64
 4   CTask3   22 non-null     float64
dtypes: float64(5)
memory usage: 1012.0 bytes

In [3]:
print(sample_df)

    DLTask3  DCTask3  RLTask3  RCTask3   CTask3
0    4759.0   4759.0   4759.0   4759.0   4759.0
1   16897.0   6042.0   2472.0   8576.0   7511.0
2   58861.0  20932.0   2237.0  12174.0   8445.0
3   56264.0   5610.0  15891.0   2766.0    763.0
4   13081.0  14064.0   4724.0  21063.0   3030.0
5   15987.0   7674.0   6112.0  16130.0   7379.0
6   11029.0   9789.0   3916.0   4979.0   3233.0
7   25834.0   5111.0   4129.0   9485.0  10297.0
8   11393.0  11310.0   1628.0   7878.0   1462.0
9   15899.0  11043.0   8319.0  15561.0   4640.0
10  42390.0   9286.0  21264.0  27040.0   2434.0
11  59390.0  17170.0   2427.0   6136.0   5273.0
12   9871.0   9159.0   2741.0  11472.0   1927.0
13  15961.0   3928.0   2079.0   9496.0   4135.0
14  12924.0  20639.0   7328.0  34083.0   6829.0
15  13257.0   7595.0   3993.0  10354.0   8500.0
16  15697.0  16963.0   5826.0   9860.0   1255.0
17  23274.0   8105.0   2644.0  10250.0   4515.0
18   8884.0   3807.0   2194.0   7448.0   6518.0
19  86041.0  12734.0   8091.0  17348.0   7104.0
20  11572.0   4065.0   7213.0  10479.0   3933.0
21  11421.0   7394.0   1312.0   5919.0    778.0

In [4]:
#Get the mean first


means = sample_df.mean()

print("Mean of each column:")
print(means)

Mean of each column:
DLTask3    24576.636364
DCTask3     9871.772727
RLTask3     5513.590909
RCTask3    11966.181818
CTask3      4760.000000
dtype: float64

In [5]:
#Get significant difference using One-way ANOVA
df = sample_df
f_statistic, p_value = f_oneway(df['DLTask3'], df['DCTask3'], df['RLTask3'], df['RCTask3'], df['CTask3'])

# Print results
print("F-Statistic:", f_statistic)
print("P-value:", p_value)

F-Statistic: 12.056056334136537
P-value: 4.230231313711426e-08

In [6]:
if p_value < 0.05:
    print("There is a significant difference among the layouts of the Default Canvas Dashboard in terms of task completion times in to-do list.")
else:
    print("There is no significant difference among the layouts of the Default Canvas Dashboard in terms of task completion times in to-do list.")

There is a significant difference among the layouts of the Default Canvas Dashboard in terms of task completion times in to-do list.